*.cache
Star Fox 64/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Star Fox 64/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Star Fox 64/Library/shadercompiler-UnityShaderCompiler.exe0.log
*.mdb
Star Fox 64/Library/metadata/e8/e8fe091391e9fb0478048baaa9fec8f6.info
*.info
Star Fox 64/Library/metadata/40/408402f35db29c846a810061b866e301
*.dwlt
Star Fox 64/Library/assetDatabase3